<div>
  <img (click)="pushNewIngreds()"  [src]="ingredient.imageUrl"
       alt=" {{ingredient.name}}" width="150px" height="150px">
  <span><strong><i>{{ingredient.name}}</i></strong></span>
  <span >{{ingredient.quantity}}</span>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <button (click)="removePushedIngreds()" class="btn"><i class="fa fa-trash"></i></button>
</div>


