.Salad, .Cheese, .Meat, .Bacon{
  margin-left: 20px;
  margin-bottom: 30px;
}

span{
  margin-left: 20px;
}

button{
  margin-left: 20px;
}

button{
  padding: 7px;
  background-color: aliceblue;
}


