<div class="order" style="float:left;  padding:20px">
  <app-ingredient *ngFor="let ingredient of ingredients; let i = index"
    [ingredient]="ingredient"
    (add)="pushIngredients(i)"
    (remove)="removeNeededIngreds(i)">
  </app-ingredient>
</div>

<div class="container" style="float: right; padding:20px">
  <div class="Burger">
    <div  class="BreadTop">
      <div class="Seeds1"></div>
      <div class="Seeds2"></div>
    </div>
    <div *ngFor="let item of itemArray" [ngClass]="item"></div>
    <div class="BreadBottom"></div>
    <div> <strong> Total amount:{{ price }}</strong></div>
  </div>
</div>

